<div class="searching-bar">
  <div class="searching-main">
    <div class="dropbox">
      <div class="dropdown-header">
        <span class="dropdown-label">Category</span>

        <!-- ▼ down 아이콘 -->
        <svg class="dropdown-icon down" viewBox="0 0 100 100"
             xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <polygon points="0,0 100,0 50,100" />
        </svg>

        <!-- ▲ up 아이콘 -->
        <svg class="dropdown-icon up" viewBox="0 0 100 100"
             xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <polygon points="50,0 100,100 0,100" />
        </svg>
      </div>

      <ul class="menu">
        <li>Web</li>
        <li>Server</li>
        <li>Database</li>
        <li>ROS</li>
        <li>Deploy</li>
        <li>Linux</li>
      </ul>
    </div>
    <input class="text-box" type="text" />
  </div>
</div>
